# Ignore Python cache and virtual environments
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
env/

# Ignore logs
logs/

# Ignore sensitive files
config.json

# Ignore environment files
.env
firebase_key.json

# Ignore Docker-related files
*.log
